@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* font-family: 'Space Mono', monospace; */

:root {
  /* Light mode */
  --background: rgb(246, 248, 255);
  --card_background: rgb(254, 254, 254);
  --text_color: rgb(75, 106, 155);
  --dark_blue: rgb(43, 52, 66);
  --blue: rgb(0, 121, 255);
  --greyish_blue: rgb(105, 124, 154);
  --btn_hover: rgb(96, 171, 255);
  --error_message: rgb(247, 70, 70);
  --transition_time: all 0.3s;
  --mode_selector_light-hover: rgba(34, 39, 49, 1);
  --mode_selector_dark-hover: rgba(144, 164, 212, 1);

  /* Dark mode */
  --background_dark_mode: rgb(20, 29, 47);
  --card_background_dark_mode: rgb(30, 42, 71);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
p,
span,
a {
  display: block;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  background-color: var(--background);
  transition: var(--transition_time);
}

main {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.container {
  display: grid;
  gap: 2.4rem;
  max-width: 73rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__name {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--dark_blue);
  transition: var(--transition_time);
}

/* DARK/LIGHT SELECTOR */
.mode__selector {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.mode__selector--light {
  display: none;
}

.selector__wrapper {
  display: flex;
  gap: 1.6rem;
}

.icon__moon {
  transition: var(--transition_time);
  color: var(--greyish_blue);
}

.icon__sun {
  color: var(--white);
  transition: var(--transition_time);
}

.theme {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: var(--greyish_blue);
  transition: var(--transition_time);
}
/* DARK/LIGHT SELECTOR ON HOVER */
.mode__selector--dark-hover .theme,
.mode__selector--dark-hover .icon__moon {
  color: var(--mode_selector_light-hover);
}

.mode__selector--light-hover .theme,
.mode__selector--light-hover .icon__sun {
  color: var(--mode_selector_dark-hover) !important;
}

/* SEARCH FIELD */
.search__field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 3.2rem;
  background-color: var(--card_background);
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  transition: var(--transition_time);
}

.form {
  width: 100%;
  display: flex;
}

.search_wrapper,
.btn__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.search_wrapper {
  width: 100%;
}

.btn__wrapper {
  position: relative;
}

.input {
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-family: inherit;
  width: 48rem;
  background-color: var(--card_background);
  transition: var(--transition_time);
}

.input::placeholder {
  background-color: var(--card_background);
  transition: var(--transition_time);
}

.error__message {
  font-weight: 700;
  color: var(--error_message);
  visibility: hidden;
  position: absolute;
  left: -100%;
}

.search__btn {
  padding: 1.25rem 2.4rem;
  background-color: var(--blue);
  border: none;
  border-radius: 10px;
  font-size: 1.6rem;
  color: var(--white);
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  transition: var(--transition_time);
}

.search__btn:hover {
  background-color: var(--btn_hover);
}

/* USER INFO */
.user__info {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  padding: 4.8rem;
  background-color: var(--card_background);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  transition: var(--transition_time);
}

.profile__info__wrapper {
  max-width: 48rem;
  grid-row: 2;
  grid-column: 2;
}

.header__wrapper {
  display: flex;
}

.user__img {
  padding-right: 3.8rem;
}

.user__img img {
  width: 11.7rem;
  border-radius: 100px;
}

.user__name {
  color: var(--dark_blue);
  line-height: 1.6;
  transition: var(--transition_time);
}

.user__tag {
  color: var(--blue);
}

.user__tag:hover {
  text-decoration: underline;
}

.join__date,
.profile__bio {
  color: var(--text_color);
  line-height: 1.6;
  transition: var(--transition_time);
}

.profile__bio {
  margin-bottom: 3.2rem;
}

.user__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

/* STATS */
.stats__container {
  display: flex;
  align-items: center;
  gap: 9rem;
  padding: 1.6rem 3.2rem;
  background-color: var(--background);
  border-radius: 10px;
  margin-bottom: 3.8rem;
  transition: var(--transition_time);
}

.stat {
  font-size: 1.3rem;
  color: var(--text_color);
  line-height: 2;
  transition: var(--transition_time);
}

.total {
  font-size: 2.2rem;
  color: var(--dark_blue);
  font-weight: 700;
  transition: var(--transition_time);
}

/* GENERAL INFO */
.general__info__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6rem;
  row-gap: 2rem;
}

.icon {
  color: var(--text_color);
  transition: var(--transition_time);
}

.info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.info span,
.info a {
  color: var(--text_color);
  transition: var(--transition_time);
}

.website:active,
.website:visited {
  color: var(--text_color);
}

.website:hover {
  text-decoration: underline;
}

/* UNAVAILABLE INFO */
.info--unavailable .icon,
.info--unavailable span,
.info--unavailable a {
  opacity: 0.5;
  pointer-events: none;
}
